---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";

const products = [
  {
    title: "UX Designer",
    icon: "icon-park-outline:graphic-design",
    description: "",
    link: "https://docs.google.com/document/d/1ebiargohmdOcNLs--s0zH1V26MC8HUvrJiZWTMoCh5A/edit#heading=h.j12bxxbgd47m",
  },
  {
    title: "Backend Engineer",
    icon: "ic:baseline-engineering",
    description: "",
    link: "https://docs.google.com/document/d/1sYp1Ljgp0Y70DkCV1Sripa0BPJTi7MRCwi_RdlgD76U/edit",
  },
  {
    title: "Community Advocate",
    icon: "akar-icons:people-group",
    description: "",
    link: "https://docs.google.com/document/d/10u4U1gfBBxOCcG9Au0V5tX1SZreDrWBwnIRWsRQwKQc/edit",
  },
];
---

<ContentSection title="Careers" id="careers">
  <Fragment slot="lead">
    <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {
        products.map((product) => (
          <a href={product.link} target="_blank" rel="noopenner">
            <li class="flex items-center">
              <div class="w-12 h-12 p-3 border-1 border-current rounded-full">
                <Icon name={product.icon} />
              </div>
              <p class="text-center">{product.title}</p>
              <p class="text-sm text-center text-offset">
                {product.description}
              </p>
            </li>
          </a>
        ))
      }
    </ul>
  </Fragment>
</ContentSection>
