---
import { Icon } from "astro-icon";

const links = [
  {
    url: "https://github.com/kalidao",
    description: "Kali on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.com/invite/UKCS9ghzUE",
    description: "Kali on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/kali__gg",
    description: "Kali on Twitter",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://app.dework.xyz/kali-1/app-3/view/board-l636uk17",
    description: "Kali on Dework",
    icon: "carbon:collaborate",
  },
];
---

<footer class="relative flex items-center justify-center h-64">
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex items-center justify-center w-16 h-16 p-4 border-2 border-current rounded-full"
            href={link.url}
            target="_blank"
            rel="noopenner"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
