---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="K" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="h-32" /> -->
  <Fragment slot="lead">
    <p class="max-w-xl text-2xl font-extrabold text-center">
      Deploy DAOs. <span class="text-primary">Spin up legal</span> structures. Own
      assets <span class="text-primary">anywhere together</span>. Ditch the paperwork.
    </p>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.kali.gg/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon name="clarity:scroll-solid" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://app.kali.gg/"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="lightning" class="h-8" />
      <span>Launch the App</span>
    </a>
  </div>
</ContentSection>
