---
import ContentSection from "~/components/content-section.astro"; 
---

<ContentSection title="Products" id="products">
  <Fragment slot="lead">
    Kali <span class="text-primary">cares</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>.
  </Fragment>
</ContentSection>
